<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
</head>
<br>
<div class = "row" >
  <div class = "column left">
<ul>
      <li *ngFor= "let s of subgroups" (click) = "getProducts(s.groupId, s.name);"class = "active poppins"> {{s.name}} </li>
</ul>
</div>
 <div class="column right" >
      <h2 >Productos </h2>
      <ul class="grid">
        <li *ngFor= "let p of products" class = "active list"  >
          <div class="product-info">

          <div class="product-price">  {{ p.price  | currency: "USD":"symbol":"1.2-2"}} </div>
          <a class="box product-name"> {{p.name}} </a>

          <a class ="product-name-hover"> {{p.name}} </a>
          <div class="product-price-hover">  {{ p.price  | currency: "USD":"symbol":"1.2-2"}} </div>

         <div class="product-adder">
            <mat-icon> remove </mat-icon>
          <input #searchInput type="text" class = "searchbar mousetrap" placeholder="Searchbar" ng-model="searchBox">
          <mat-icon> add </mat-icon>
        </div>
      </div>
         </li>
      </ul>
    </div>
  </div>
