body, html {
  height: 100%;
    padding-top: 65px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

ul li {
  display: table-row;
  vertical-align: middle;
  padding: 1vw 3vw;
}

/*ul li {
  display: table-cell;
  vertical-align: middle;
  padding: 1em 3em;
}*/

a {
  display: table-cell;
  vertical-align: middle;
}

/* this is just for styling the demo */
/*a {
  background: #C55;
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  transition: padding-left 0.2s;
}*/

.poppins:hover {
  color: linear-gradient(to right, #E140E1 0%, #E14096 100%);
  padding-left: 4%;
  transition: padding-left 0.6s;
  opacity: 1;
  font-weight:500;
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.selected{
  font-family: 'Poppins', sans-serif;
  font-size: 5vw;
  color: #E140E1;
  background:none;
  opacity: 0.5;
  padding: 0px 0px 0px 0px;
  margin: 0em;
  border: 0em;
  text-align: left;
  color: linear-gradient(to right, #E140E1 0%, #E14096 100%);
  padding-left: 4%;
  transition: padding-left 0.6s;
  opacity: 1;
  font-weight:500;
}

* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  /*height: 300px; /* Should be removed. Only for demonstration */
}

.poppins {
  font-family: 'Poppins', sans-serif;
  font-size: 5vw;
  color: #E140E1;
  background:none;
  opacity: 0.5;
  padding: 0px 0px 0px 0px;
  margin: 0em;
  border: 0em;
  text-align: left;
  user-select: none;
  user-select: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
}

.grid::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.grid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.grid > *:hover{
  background: white;
  border: 5px solid #E140E1;
  border-radius: 28px 28px 28px 28px;
  -moz-border-radius: 28px 28px 28px 28px;
  -webkit-border-radius: 28px 28px 28px 28px;
}
.grid .list{
  display:flex !important;
  flex-direction: column-reverse;
  background-image: url('../../../assets/Tequila-1800.jpg');
  background-size: contain;
  width:21vw;
  height:21vw;
  background-repeat: no-repeat;
}
.grid .product-name{
 font-family: 'Gotham', 'Arial', sans-serif;
 font-weight: bold;
 font-size: 1.5vw;
}
.grid .product-price{
  font-family: 'Gotham', 'Arial', sans-serif;
  color:slategray;
  font-size: 1.5vw;
}
.grid .product-name-hover{
  display:none;
  font-family: 'Gotham', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 1.5vw;
}

.grid > :hover .list{
  display:flex !important;
  flex-direction: column;
  opacity: 0.5;
}

.grid .product-price-hover{
  display:none;
  font-family: 'Gotham', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 1.5vw;
}
.grid > :hover .product-price-hover{
  display:block;
}
.grid > :hover .product-name-hover{
  display:block;
}
.grid > :hover .product-price {
  display:none;
}
.grid > :hover .product-name {
  display:none;
}
.product-searchbar{
  background:transparent;
  border:none;
  font-weight: bold;
  font-size: 2vw;
  border-bottom: 1px solid #fff;
  outline: none;
  user-select: none;
}

.add{
  color: linear-gradient(to right, #E140E1 0%, #E14096 100%);
  font-family: 'Gotham', 'Arial', sans-serif;
  color:    #E140E1;
  user-select: none;
  cursor: pointer;
  font-size:1.5vw;
  width:40%
}
.add-icon{
  font-size:1.5vw;
  width:25%;
  user-select: none;
  cursor: pointer;
}
.remove{
cursor: pointer;
user-select: none;
font-size:1.5vw;
width:25%;
  max-width:14%
}

.product-info{
 display:flex;
 flex-direction:column;
}
.grid .space-hover{
  display:none;
}
.grid > :hover .space-hover{
  display:block;
}
::placeholder{
  color:black;
}
/* Just to make the grid visible */

.grid .product-adder{
  display:none;
}

.grid > :hover .product-adder{
  display:block;
  size: 2vw;
}

.product-adder{
  display:flex;
  flex-direction:row;
  font-size: 1vw;
}



.left {
  width: 35%;
}

.right {
  width: 65%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
