ul {
    top: 0;
    width: 100%;
     list-style-type: none;
     margin: 0;
        padding: 0;
  overflow: hidden;
  background:none;
  
  }
  main-item{
      user-select: none;
  }
  li {
    float: left;
    
  }
  
  li a {
    display: block;
    padding: 30px 20px;
    font-size: .9em;
    letter-spacing: 1px;
    text-decoration: none;
    color:black;
    font-weight:bold;
    font-family: 'Helvetica', 'Arial', sans-serif;
    cursor: pointer
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    color:pink;
  }

  .default-heading, .menu-container {
    display:inline-block;
}
.title {
    display: block;
    padding: 30px 20px;
    color: black;
    font-size: .9em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
  }
  
  .title:hover {
    background: rgba(0, 0, 0, 0);
   
  }
  .header{
    display:flex;
    flex-direction: column;
  }
  .top-header{
    max-height:10px;
  }
  .bottom-header{
   display: flex;
   
  }

  .fill-remaining-space {
    /*This fills the remaining space, by using flexbox.  
   Every toolbar row uses a flexbox row layout. */
   flex: 1 1 auto;
 }
 