ul {
    top: 0;
    width: 100%;
     list-style-type: none;
     margin: 0;
        padding: 0;
  overflow: hidden;
  background:none;

  }
  main-item{
      user-select: none;
  }
  li {
    float: left;

  }

  li a {
    display: block;
    padding: 30px 20px;
    font-size: .9em;
    letter-spacing: 1px;
    text-decoration: none;
    color:black;
    font-weight:bold;
    font-family: 'Helvetica', 'Arial', sans-serif;
    cursor: pointer
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    color:#E140E1;
  }

  .default-heading, .menu-container {
    display:inline-block;
}
.title {
    padding: 30px 20px;
    color: black;
    font-size: .9em;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: 'Helvetica', 'Arial', sans-serif;
    user-select: none;
  }

  .searchbar{
    padding: 30px 20px;
    color: black;
    font-size: .9vw;
    letter-spacing: 1px;
    text-decoration: none;
    background:	#D3D3D3;
  }

  .title-heading{
    padding: 20px 20px;
    color: black;
    font-size: 6vw;
    letter-spacing: 1px;
    text-decoration: none;
    user-select: none;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
  }

  .title-image{
    padding: 30px 20px;
    color:gray;
    font-size:3vw;
  }
  .title-text{
    padding: 30px 20px;
    font-size:3vw;
    font-family: 'Helvetica', 'Arial', sans-serif;
  }
  .title-image:hover{
    color:#E140E1;
  }
  .title-image-selected{
    font-size: 2em !important;
    color:#E140E1 !important;
  }

  .title:hover {
    background: rgba(0, 0, 0, 0);

  }
  .list-item{
    font-size: 2em !important;
  }
  .header{
    display:flex;
    flex-direction: column;
  }
  .top-header{
    max-height:10px;
    display:flex;
    flex-direction: row;
    padding-bottom: 20px;
    align-items: baseline;
  }*/
  .bottom-header{
   display: flex;

  }
  .list{
    padding-left:30px;
     padding-top:90px;
  }

  .fill-remaining-space {
    /*This fills the remaining space, by using flexbox.
   Every toolbar row uses a flexbox row layout. */
   flex: 1 1 auto;
 }
